<app-toolbar text="Donors">
  <app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
</app-toolbar>
<br><br><br>

<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <p *ngIf="!donorRecordsObs$">You do not have permissions to view any of the donor records.</p>
  <ng-container *ngIf="donorRecordsObs$">
    <p>List of all donors.</p>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th *ngFor="let column of headerNames" scope="col">
              {{column.displayName}}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let singleRecord of donorRecordsObs$ | async">
            <td>{{singleRecord.donorId}}</td>
            <td>{{singleRecord.firstName}}</td>
            <td>{{singleRecord.lastName}}</td>
            <td>{{singleRecord.blockedDate}}</td>
            <td>{{singleRecord.blockedReason}}</td>
            <td>
              <a role="button" [routerLink]="['/donor/', singleRecord.donorId,superId]">View more</a>

            </td>
          </tr>
        </tbody>
      </table>
      <span>Total count: {{(donorRecordsObs$ | async)?.length}}</span>
    </div>
  </ng-container>
</div>