<app-toolbar text="Technician {{technicianId}}"></app-toolbar>
<app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
<br><br><br>


<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <div class="row">
    <div class="col-xl-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <table *ngIf="technicianRecordObs | async as record">
            <span>
              <tr>
                <td class="labels"><strong>Registration</strong></td>
                <td>{{record.registration}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Full Name</strong></td>
                <td>{{record.fullName}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Address</strong></td>
                <td>{{record.address}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Phone Number</strong></td>
                <td>{{record.phoneNumber}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Emergency Phone Number</strong></td>
                <td>{{record.emergPhoneNumber}}</td>
              </tr>
            </span>
          </table>
          <div *ngIf="technicianRecordObs === undefined">
            <p>You are not authorized to view technician details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-toolbar-link text="View Blood Bag Details" icon="plus" [routerLink]="['readbloodbag']">
  </app-toolbar-link>
  <app-toolbar-link text="Screen Patient" icon="edit" [routerLink]="['/patient/screen/technician/', technicianId]">
  </app-toolbar-link>
  <app-toolbar-link text="Collect Blood" icon="edit"
    [routerLink]="['/technician/patient/collect-blood/', technicianId]">
  </app-toolbar-link>
  <app-toolbar-link text="Blood Request Registration" icon="plus" [routerLink]="['bloodrequest']">
  </app-toolbar-link>
  <app-toolbar-link text="Add Cross-Match Results" icon="plus" [routerLink]="['addcrossmatchedbag']">
  </app-toolbar-link>
  <app-toolbar-link text="Laboratory Test Approval" icon="plus" [routerLink]="['LTapproval']">
  </app-toolbar-link>
  <app-toolbar-link text="Check Status of Blood Request" icon="plus" [routerLink]="['readallocatedbloodbag']">
  </app-toolbar-link>
  <br /><br />
  <app-toolbar-link text="Add TTI Test Reports" icon="plus" [routerLink]="['addttiresults']"></app-toolbar-link>
  <app-toolbar-link text="Add Non TTI Test Reports" icon="plus"
    [routerLink]="['addhealthindicators']"></app-toolbar-link>
  <app-toolbar-link text="Check Patient Health Status" icon="plus" [routerLink]="['checkpatientstatus']">
  </app-toolbar-link>
  <br><br><br>
</div>