<div class="container">
	<div *ngIf="apiResponse">
		<ng-container
			*ngIf="apiResponse.status === 'success' && apiResponse.donationStatus !== undefined && !apiResponse.donationStatus.startsWith('deferred'); else failureBlock">
			<h4 [style.color]="'green'">Screening successful !!</h4>
		</ng-container>
		<ng-template #failureBlock>
			<h4 [style.color]="'red'">Screening Failed !!</h4>
		</ng-template>
	</div>
	<h2>Screen Patient</h2>

	<form [formGroup]="screeningForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="technicianId">Technician ID:</label>
			<input type="text" id="technicianId" formControlName="technicianId" [attr.disabled]="true">
		</div>

		<div class="form-group">
			<label for="healthId">Health ID:</label>
			<input type="text" id="healthId" formControlName="healthId">
		</div>

		<div class="form-group">
			<label for="pulse">Pulse (per minute): </label>
			<input type="text" id="pulse" formControlName="pulse" required>
		</div>

		<div class="form-group">
			<label for="systolic">Systolic Pressure (mmHg):</label>
			<input type="text" id="systolic" formControlName="systolic" required>
		</div>

		<div class="form-group">
			<label for="diastolic">Diastolic Pressure (mmHg):</label>
			<input type="text" id="diastolic" formControlName="diastolic" required>
		</div>

		<div class="form-group">
			<label for="haemoglobin">Haemoglobin Level (in g/dl):</label>
			<input type="text" id="haemoglobin" formControlName="haemoglobin" required>
		</div>
		<div class="form-group">
			<label for="weight">Weight:</label>
			<input type="text" id="weight" formControlName="weight" required>
		</div>

		<div class="form-group">
			<label for="anaemia">Anaemia:</label>
			<select formControlName="anaemia">
				<option value="true">Chronic</option>
				<option value="temp-defer">Under Investigation</option>
				<option value="false">Not present</option>
			</select>
		</div>

		<div class="form-group">
			<label for="haemophiliaA">Haemophilia A:</label>
			<select formControlName="haemophiliaA">
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</div>

		<div class="form-group">
			<label for="haemophiliaB">Haemophilia B:</label>
			<select formControlName="haemophiliaB">
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</div>

		<div class="form-group">
			<label for="cardiovascular">Cardiovascular Disease:</label>
			<select formControlName="cardiovascular">
				<option value="true">Symptomatic</option>
				<option value="false">Asymptomatic</option>
			</select>
		</div>

		<div class="form-group">
			<label for="hypertension">Hypertension:</label>
			<select formControlName="hypertension">
				<option value="true">Hypertensive heart/renal disease</option>
				<option value="false">Recently started taking medication</option>
				<option value="false">Not present</option>
			</select>
		</div>

		<div class="form-group">
			<label for="asthma">Asthma:</label>
			<select formControlName="asthma">
				<option value="true">Chronic Symptomatic</option>
				<option value="temp-defer">Asthma with acute exacerbation</option>
				<option value="false">Asymptomatic</option>
			</select>
		</div>

		<button type="submit" [disabled]="screeningForm.invalid">Submit</button>
	</form>
</div>