<app-toolbar text="Super {{superId}}">
  <app-toolbar-link text="View Deferred patients" icon="users" [routerLink]="['deferredlist']">
  </app-toolbar-link>
  <app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
</app-toolbar>
<br><br><br>

<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <div class="row">
    <div class="col-xl-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <table *ngIf="superRecordObs | async as record">
            <span>
              <tr>
                <td class="labels"><strong>Registration Number</strong></td>
                <td>{{record.registration}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Full Name</strong></td>
                <td>{{record.fullName}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Address</strong></td>
                <td>{{record.address}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Phone Number </strong></td>
                <td>{{record.phoneNumber}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Emergency Phone Number</strong></td>
                <td>{{record.emergPhoneNumber}}</td>
              </tr>
            </span>
          </table>
          <div *ngIf="superRecordObs === undefined">
            <p>You are not authorized to view super details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-toolbar-link text="Check Patient Deferral Status" [routerLink]="['checkpatientstatus']">
  </app-toolbar-link>
  <app-toolbar-link text="View Pending Data Access Requests" [routerLink]="['access-requests']">
  </app-toolbar-link>
</div>